{{ define "base" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
  </head>
  <body>
    <a href="/">home</a>
    <a href="/links">links</a>
    <a href="/now">now</a>
    <a href="/static">static dir</a>
    <a href="/static/not_found.jpeg">static not found</a>
    <a href="/static/wowcat.gif">wowcat</a>
    <a href="/__blurp__notfound">not found</a>
    <main>
      {{ template "content" . }}
    </main>
  </body>
</html>
{{ end }}
